<section class="section">
  <div class="columns">
    <div class="column is-three-quarters">
      <p>I'm a young guy who has recently retrained to follow my ambition of becoming a web developer and/or software developer. After a nearly 20 year teaching career I have jumped at the opportunity to switch from the education industry into the IT sector. While still relatively new to front-end web/software development I am prepared to work as hard as it takes to become skilled at what I do.
        <br><br>
        Born and bred in the South Island, I am a family guy who loves spending time with friends and family. As well as having a passion for things related to technology, I am also passionate about sports and travel. I have lived in Tauranga for the last decade and am committed to living here for the forseeable future.
      </p>
    </div>
    <div class="column auto">
      <figure class="image is-square">
        <img src="../../../assets/images/profile-pic.png" id="profile-pic">
      </figure>
      <br>
      <a 
      class="button is-info is-fullwidth" 
      routerLink='/contact'>
        <span class="icon is-medium is-left">
          <fa-icon icon="id-badge"></fa-icon>
        </span>
        <span>CONTACT ME</span>
      </a>
    </div>
  </div>
</section>