<footer class="footer">
  <div class="content has-text-centered">
    <br><br>
    <p>
      Portfolio by <strong>Hamish Wadsworth</strong> 
    </p>
    <div class="content social-media-items">
      <div class="social-media-item">
        <a href="https://www.linkedin.com/in/hamishwadsworth/" target="blank">
          <span class="icon linkedin">
            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
          </span>
        </a>
      </div>
      <div class="social-media-item">
        <a href="https://www.github.com/hamishwaddy" target="blank">
          <span class="icon github">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </span>
        </a>
      </div>
    </div> 
  </div>
</footer>