<section class="hero is-info is-medium has-background">
  <img class="hero-background is-transparent" src="../../../assets/images/header-background.jpg">
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <!-- <span>
            <a class="navbar-item" id="header-logo" href="#">
              <span><img src="../../../assets/images/nut.png"></span>
                <h1 class="is-size-4"><span> HW</span></h1>
            </a>
          </span> -->
          
          <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu" #navMenu>
          <div class="navbar-end side-drawer-items">
            <div class="button-container">
              <span class="navbar-item navbar-end">
                <a 
                class="button is-info is-inverted" 
                routerLink='/contact'>
                  <span class="icon is-medium is-left">
                    <fa-icon icon="id-badge"></fa-icon>
                  </span>
                  <span>CONTACT ME</span>
                </a>
              </span>
            </div>
            <div class="profile-pic">
              <figure class="image is-96x96">
                <img src="../../../assets/images/profile-pic.png" id="profile-pic">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        HAMISH WADSWORTH
      </p>
      <p class="subtitle">
        Software Developer
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li routerLinkActive='is-active'>
            <a routerLink='/about'>About Me</a>
          </li>
          <li routerLinkActive='is-active'>
            <a routerLink='/education'>Education</a>
          </li>
          <li routerLinkActive='is-active'>
            <a routerLink='/projects'>Projects</a>
          </li>
          <li routerLinkActive='is-active'>
            <a routerLink='/work-history'>Work History</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>