<section class="hero is-info is-medium">
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
          </a>
          <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu" #navMenu>
          <div class="navbar-end">
            <a class="navbar-item">
              Home
            </a>
    
            <a class="navbar-item">
              Documentation
            </a>
            <span class="navbar-item navbar-end">
              <a 
              class="button is-info is-inverted" 
              routerLink='/contact'>
                <span class="icon is-medium is-left">
                  <fa-icon icon="id-badge"></fa-icon>
                </span>
                <span>CONTACT ME</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        HAMISH WADSWORTH
      </p>
      <p class="subtitle">
        Wannabe web & software developer
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li routerLinkActive='is-active'>
            <a routerLink='/about'>About Me</a>
          </li>
          <li routerLinkActive='is-active'>
            <a routerLink='/education'>Education</a>
          </li>
          <li routerLinkActive='is-active'>
            <a routerLink='/projects'>Projects</a>
          </li>
          <li routerLinkActive='is-active'>
            <a routerLink='/work-history'>Work History</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>