<section class="section">
  <div class="container has-text-left-tablet">
    <h2 class="title is-2 page-title">{{pageTitle}}</h2>
    <div class="content">
      <p>A nearly twenty year career as a primary school teacher has equipped me with many transferrable skills that will be beneficial to any organisation.</p>
      <ul id="work-skills-list">
        <li>effective communicator, both verbal and written</li>
        <li>able to understand and meet the needs of clients</li>
        <li>can deal with multiple tasks at once</li>
        <li>able to create efficient systems based on a desired outcome</li>
        <li>good planner, can work to a deadline</li>
        <li>flexible, resourceful</li>
        <li>committed to ongoing learning</li>
      </ul>
    </div>
    <div class="content">
      <div class="job-details">
        <h5>Deputy Principal, Classroom Teacher</h5>
        <h6>TE PUNA SCHOOL, 2009-2018</h6>
        <p>
        As a DP I was responsible for overseeing the integration of IT into classroom programmes across the school, providing support when needed in a variety of ways. Additionally, I led a small team that successfully developed a school-wide system for tracking the progress of students who were behind in their learning, creating a tailored set of learning experiences to help them return to their expected level of learning.<br>
        As a classroom teacher I was responsible for planning and delivering curriculum. Amongst other things, this role required an understanding of what would engage learners, motivating them to achieve at a high standard.<br>
      </p>
      </div>
      <div class="job-details">
        <h5>Earlier Teaching Career</h5>
        <h6>Various Schools, 2001-2008</h6>
        <table class="table is-hoverable">
          <thead>
            <tr>
              <th>SCHOOL</th>
              <th>LOCATION</th>
              <th>DATE</th>
              <th>PRIMARY ROLE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Matahui Road School</td>
              <td>Katikati, NZ</td>
              <td>2008</td>
              <td>Year 7/8 teacher</td>
            </tr>
            <tr>
              <td>Hill House International School</td>
              <td>London, UK</td>              
              <td>2003-2007</td>
              <td>Maths, IT teacher</td>
            </tr>
            <tr>
              <td>Tahatai Coast School</td>
              <td>Papmoa, NZ</td>              
              <td>2001-2002</td>
              <td>Year 3/4 & 7/8 teacher, Leader of PE</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="contact-me">
        <a 
          class="button is-info is-medium is-fullwidth" 
          routerLink='/contact'>
          <span class="icon is-medium is-left">
            <fa-icon icon="id-badge"></fa-icon>
          </span>
          <span>CONTACT ME</span>
        </a>
      </div>
    </div>
  </div>
</section>
