<section class="section">
  <div class="container">
    <h2 class="title is-2">{{pageTitle}}</h2>
    <div class="content">
      <p>A nearly twenty year career as a primary school teacher has equipped me with many transferrable skills that will be beneficial to any organisation.</p>
      <ul>
        <li>effective communicator, both verbal and written</li>
        <li>able to understand and meet the needs of clients</li>
        <li>can deal with multiple tasks at once</li>
        <li>able to create efficient systems based on a desired outcome</li>
        <li>good planner, can work to a deadline</li>
        <li>flexible, resourceful</li>
        <li>committed to ongoing learning</li>
      </ul>
    </div>
    <div class="content">
      <div class="job-details">
        <h5>Deputy Principal, Classroom Teacher</h5>
        <h6>TE PUNA SCHOOL, 2009-2018</h6>
        <p>
        As a DP I was responsible for overseeing the integration of IT into classroom programmes across the school, providing support when needed in a variety of ways. Additionally, I led a small team that successfully developed a school-wide system for tracking the progress of students who were behind in their learning, creating a tailored set of learning experiences to help them return to their expected level of learning.<br>
        As a classroom teacher I was responsible for planning and delivering curriculum. Amongst other things, this role required an understanding of what would engage learners, motivating them to achieve at a high standard.<br>
      </p>
      </div>
    </div>
  </div>
</section>
