.job-details {
  margin-top: 4rem;
}

.job-details h5 {
  text-transform: uppercase;
}

.page-title {
  font-family: 'Raleway', cursive;
}

.contact-me {
  margin-top: 4rem;
}

#work-skills-list {
  list-style-position: inside;
}