.card {
  margin-bottom: 3rem;
}

a {
  padding-right: 1rem;
}

a:hover {
  background-color: transparent;
}

#project-footer {
  background-color: hsl(204, 86%, 53%);
  color: white;
}

.card-footer-item a {
  text-decoration: none;
}

.contact-me {
  margin-top: 4rem;
}

.page-title {
  font-family: 'Raleway', cursive;
}