<section class="section">
  <div class="columns">
    
    <!-- Left Column -->
    <div class="column is-half">
      <!-- iDot Tracker Card -->
      <div class="card">
        <header class="card-header">
          <div class="card-header-title">
            <h5 class="title is-5">
              iDotTracker - Diabetes Blood-Sugar Tracking Solution
            </h5>
          </div>
        </header>
        <div class="card-content">
          <div class="columns">
            <div class="column is-one-third">
              <a href="#">
                <figure class="image">
                  <img src="../../../assets/images/idot-dashboard.png">
                </figure>
              </a>
            </div>
            <div class="column is-two-thirds">
              <div class="content">
                <p>This app allows parents to view historical data relating to their child's condition. Displayed in a dashboard style, the app connects to an exisiting API in order to display a range of relevant information including blood-sugar levels and carbohydrate intake.</p>
              </div>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <a href="https://github.com/hamishwaddy/diabetes-dashboard">
              <span class="icon is-medium">
                <fa-icon icon="code"></fa-icon>
              </span>View Code
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#">
              <span class="icon is-medium">
                <fa-icon icon="globe"></fa-icon>
              </span>Live Site
            </a>   
          </div>
           
        </footer>
      </div>
    </div>

    <!-- Right Column -->
    <div class="column is-half">
      <!-- JK Building Card -->
      <div class="card">
        <header class="card-header">
          <div class="card-header-title">
            <h5 class="title is-5">
              JK Building - small business website
            </h5>
          </div>
        </header>
        <div class="card-content">
          <div class="columns">
            <div class="column is-one-third">
              <a href="#">
                <figure class="image">
                  <img src="../../../assets/images/idot-dashboard.png">
                </figure>
              </a>
            </div>
            <div class="column is-two-thirds">
              <div class="content">
                <p>Website for a local building company.</p>
              </div>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <a href="https://github.com/hamishwaddy/diabetes-dashboard">
              <span class="icon is-medium">
                <fa-icon icon="code"></fa-icon>
              </span>View Code
            </a>
          </div>
          <div class="card-footer-item">
            <a href="#">
              <span class="icon is-medium">
                <fa-icon icon="globe"></fa-icon>
              </span>Live Site
            </a>   
          </div>
           
        </footer>
      </div>
    </div>
  </div>



</section>