a {
  padding-right: 1rem;
}

a:hover {
  background-color: transparent;
}

.card-footer-item a {
  text-decoration: none;
}

.contact-me {
  margin-top: 4rem;
}

.page-title {
  font-family: 'Amarante', cursive;
}