<section class="section">
  <div class="table-heading">
    <p class="title is-5">Graduate Diploma (Applied IT)</p>
    <p class="subtitle is-6">Toi Ohomai Institute of Technology<br>2019</p>
  </div>
    <table class="table">
      <div class="is-column is-three-quarters">
        <thead>
          <tr>
            <th>SUBJECT</th>
            <th>GRADE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Special Project</td>
            <td>A++</td>
          </tr>
          <tr>
            <td>Client/Web Server Development</td>
            <td>A++</td>
          </tr>
          <tr>
            <td>Client/Web Server Development</td>
            <td>A++</td>
          </tr>
          <tr>
            <td>Client/Web Server Development</td>
            <td>A++</td>
          </tr>
        </tbody>
      </div>
    </table>
      
    <div class="qual-two">

    
    </div>
  <div class="is-column auto">

  </div>
</section>