<section class="section">
  <div class="content" id="ed-summary">
    <p>In November of 2019 I successfully completed a 1-year post-graduate diploma of Applied IT. This course consisted of level 6 and level 7 papers, my grades can be seen below. Prior to this I completed a degree in education back in 2000.</p>
  </div>
  <div class="columns">
    <div class="column is-half">
      <div class="table-heading">
        <p class="title is-5">Graduate Diploma (Applied IT)</p>
        <p class="subtitle is-6">Toi Ohomai Institute of Technology<br>Tauranga, NZ</p>
      </div>
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th>SUBJECT</th>
            <th>GRADE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Project</td>
            <td>A+</td>
          </tr>
          <tr>
            <td>Client Server Web Development</td>
            <td>A+</td>
          </tr>
          <tr>
            <td>Advanced User Interface Programming</td>
            <td>A+</td>
          </tr>
          <tr>
            <td>Special Topic (GraphQL vs REST)</td>
            <td>A+</td>
          </tr>
          <tr>
            <td>Graphical User Interface Programming</td>
            <td>B+</td>
          </tr>
          <tr>
            <td>Algorithms and Data Structures</td>
            <td>B+</td>
          </tr>
          <tr>
            <td>Web Services and Design Methodologies</td>
            <td>B</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column is-half">
      <div class="qual-two">
        <div class="table-heading">
          <p class="title is-5">ADDITIONAL QUALIFICATIONS</p>
          <p class="title is-5">Bachelor of Education (Teaching)</p>
          <p class="subtitle is-6">Wellington College of Education<br>Tauranga, NZ<br>1998-2000</p>        
        </div>
      </div>
        <a 
      class="button is-info is-half" id="contact-btn" 
      routerLink='/contact'>
        <span class="icon is-medium is-left">
          <fa-icon icon="id-badge"></fa-icon>
        </span>
        <span>CONTACT ME</span>
      </a>
      
    </div>
  </div>
</section>