<div class="modal has-text-left" [ngClass]="{'is-active' : isModalActive === true}">
  <div class="modal-background" (click)='onCloseModal()'></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">GET IN TOUCH</p>
      <button class="delete" aria-label="close" (click)='onCloseModal()'></button>
    </header>
    <section class="modal-card-body level-right">
      <figure class="image is-128x128" id="profile-pic">
        <img src="../../../assets/images/profile-pic.png">
      </figure>
      <div class="column content">
        <h4 class="title is-5">HAMISH WADSWORTH</h4>
        <h5 class="subtitle is-6">Junior Web & Software Developer</h5>
        <div class="tags are-small">
          <span class="tag is-dark">Vue</span>
          <span class="tag is-primary">Angular</span>
          <span class="tag is-success">React</span>
          <span class="tag is-warning">JavaScript</span>
          <span class="tag is-danger">C#</span>
          <span class="tag is-info">CSS</span>
          <span class="tag is-link">HTML</span>
          <span class="tag is-dark">GraphQL</span>
        </div>
        <p>I'm currently looking for employment, so if you'd like to chat feel free to contact me via any of the methods below.</p>
        <div class="contact-details">
          <span class="icon is-medium is-left">
            <fa-icon icon="envelope"></fa-icon>
          </span>
          <span><a href="mailto:hamishwaddy@gmail.com?Subject=Website Enquiry"  id="modal-email-link">hamishwaddy@gmail.com</a></span>
        </div>
        <div>
          <span class="icon is-medium is-left">
            <fa-icon icon="mobile-alt"></fa-icon>
          </span>
          <span><a href="tel:{{location.phoneNumber}}" id="modal-telephone-num">{{location.phoneNumber}}</a></span>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot"> 
      <div class="content social-media-items">
        <div class="social-media-item">
          <a href="https://www.linkedin.com/in/hamishwadsworth/" target="blank">
            <span class="icon linkedin">
              <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </span>
          </a>
        </div>
        <div class="social-media-item">
          <a href="https://www.github.com/hamishwaddy" target="blank">
            <span class="icon github">
              <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </span>
          </a>
        </div>
      </div> 
    </footer>
  </div>
  <!-- <button 
  class="modal-close is-large" 
  aria-label="close" 
  (click)="onCloseModal()"
  routerLink='/about'></button> -->
</div>